fastapi
uvicorn
python-dotenv
python-multipart
azure-storage-blob
azure-ai-documentintelligence
openai
groq
requests
joblib
numpy
pandas
scikit-learn
xgboost
shap
pytest
httpx
slowapi
azure-identity
azure-keyvault-secrets
